
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.main{
    height: 420px;
    width: 250px;
    border-radius: 20px;
    align-items: center;
    background-color: hsl(0, 0%, 100%)
}
img{
    width: 90%;
    padding: 15px;
    border-radius: 25px;
}
#bold
{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    opacity: 0.9;
    margin: 7px;
}
#light
{
    text-align: center;
    align-items: center;
    font-weight: 100;
    opacity: 0.6;
    font-size: 15px;
}